#content { border:1px solid #172018; background-color:#040d0a; }
#main {}

/* content */
#contentTop { }
#contentTopCornerLeft { height:30px; width:20px; background:url(../images/top_corner_left.gif) no-repeat left; }
#contentTopMiddle { height:30px; width:924px; background-color:#040d0a; padding:0px;}
#contentTopCornerRight { height:30px; width:20px; background:url(../images/top_corner_right.gif) no-repeat right; padding:0px;}
#contentFooter { }
#contentFooter #contentFooterCornerLeft { height:31px; width:20px; background:url(../images/botton_corner_left.gif) no-repeat left; }
#contentFooter #contentFooterMiddle { height:31px; width:924px; background-color:#040d0a; padding:0px; }
#contentFooter #contentFooterCornerRight { height:31px; width:20px; background:url(../images/botton_corner_right.gif) no-repeat right; padding:0px; }
#box01 {  }
#box01 #box01TextLeft { height:195px; width:30px; background:#fff url(/images/box01_c_left.gif) no-repeat top left; }
#box01 #box01TextMiddle { height:195px; width:904px; background:#fff url(/images/box01_bg.gif) repeat-x top left; text-align:left;  }
#box01 #box01TextRight { height:195px; width:30px; background:#fff url(/images/box01_c_right.gif) no-repeat top right; padding:0px; }
#content #box02 { padding:30px; }
#content #box02 #box02Img { float:left; padding-right:15px; padding-top:25px; width:50px; height:65px; }
#content #box02 #box02Text { text-align:left; }
#content #boxtop { border-top:1px #f2f2f2 solid; }
#content #box03 { padding:15px; width:750px; margin:0 auto; }
#content #box03 #box03Img { float:left; width:196px; height:146px; }
#content #box03 #box03Text { text-align:left; padding-left:226px; }
#content #box03 #box03TextContent { text-align:left; line-height:15px; }
#content #box04 { background-color:#ececec; padding:20px; margin:0px 30px; text-align:center; }
#content #box04 img { padding:10px 15px 10px 15px; }

/* class */
.bullet_plus{ display:block; text-align:right; }
.box01Text { }
.box01image { }
.box01TextMiddleLeft { text-align:left; font-size:14px; width:55%; padding-left:80px; }
.box02TextLeft { float:left; width:380px; padding:30px 0px 30px 0px; }
.box02TextRight { float:right; width:380px; padding:30px 0px 30px 0px; }
.box03Text { padding:25px 0 10px 0; }
.boxServicos {}
.boxServicosImg { width:90px; }
.boxServicosText { width:250px; text-align:left; padding-left:15px; }

/* menu */
#menu { margin:0px; padding:0px; height:31px;}
#menu .left div { background-repeat:no-repeat; float:left; height: 31px; padding-right:5px; }
#menu a { text-align:center; text-decoration:none; color:#FFF; padding-top:9px; display:block; font:11px Arial; font-weight:bold; text-transform:uppercase; height:21px; }
#menu a:hover { color:#FFF; }
#menu .selected a, #menu .selected a:hover { color:#000; padding-top:10px; cursor:default; }

.home { background-image: url(../images/tab.png); width: 107px; }
.home_selected { background-image: url(../images/tab_selected.png); width: 107px; }

.servicos { background-image: url(../images/tab.png); width: 107px; }
.servicos_selected { background-image: url(../images/tab_selected.png); width: 107px; }

.treinamentos { background-image: url(../images/tab.png); width: 107px; }
.treinamentos_selected { background-image: url(../images/tab_selected.png); width: 107px; }

.time { background-image: url(../images/tab.png); width: 107px; }
.time_selected { background-image: url(../images/tab_selected.png); width: 107px; }

.contato { background-image: url(../images/tab.png); width: 107px; }
.contato_selected { background-image: url(../images/tab_selected.png); width: 107px; }

/* BOX
----------------------------------------
.box{margin-top:20px; background:#080a07; border:1px solid #172018; background:#050a07 url("../images/boxBg.png") 50% 0 no-repeat; font-size:93%}
*/
.box{margin-top:20px; background:#ffffff; border:1px solid #172018; background:#050a07 50% 0 no-repeat; font-size:93%}
.box h1{margin:20px 0 5px 20px; color:#eae442;}
.box h2{margin:10px 0 4px 20px; color:#eae442; font-size:138.5%}
.box h3{margin:10px 0 4px 20px; color:#6bc896; font-size:138.5%}

.box h3 small{color:#e8c956; font-size:76%; font-weight:normal; position:relative; top:-2px}
.box p{margin:0 20px 16px 20px}
.box table, .box table tr, .box table td, .box table th{margin:0 20px 16px 20px; border:0}

.box2{position:relative; margin:45px 20px 45px 20px; padding:20px 0 0 0; background:#0a0f0c; border:1px solid #1e2320}
.box2 h2{position:absolute; top:-30px; left:0; margin:0; padding:0}
.box2 p{margin:0 20px 14px 20px !important; padding:0; font-size:93%}

.box3{position:relative; margin:20px 20px 20px 20px; padding:15px 0 0 0 !important; background:#101c15; border:1px solid #505452}

.box4{position:relative; margin:20px 20px 20px 20px; padding:15px 0 0 0 !important; background:#171811; border:1px solid #363826}

.box5{position:relative; background:#060906; padding: 10px 0 20px 0; font-size: 13px; margin-top: 20px; border:1px solid #1e2320}
.box5 h2{padding:0}
.box5 p{padding:0; font-size:93%}

/* ABOUT US
----------------------------------------*/
div#aboutUs{margin:20px 0 0 20px; width:400px; float:left; min-height:275px}
div#aboutUs p{margin:16px 16px 5px 16px}

/* SERVICES
----------------------------------------*/
div#services{margin:20px 20px 0 0; width:500px; float:right; min-height:275px}
div#services h1{margin:16px 0 10px 17px}
div#services h2{position:absolute; left:0px; top:-500px; width:1px; height:1px; overflow:hidden}

div#services ul{width:210px; font-size:93%; line-height:220%; float:left; margin:0 0 0 18px; padding:0}
div#services ul li{list-style-type:none; float:left; display:inline; text-align:right}
div#services ul li a{outline:none; display:block; color:#d3e9dd; text-decoration:none; height:28px; width:180px; padding:0 24px 0 0; margin:-1px 0 0 0; background:#172018 url("../images/structure/servicesTab.png") 0 0 no-repeat}
div#services ul li a:hover{background-position:0 -28px}
div#services ul li.current a, div#services ul li.current a:hover{background-position:0 -56px; color:#090c08; background-color:#519570; cursor:default; font-weight:bold}

div#servicesWrap{margin:-3px 0 0 14px; float:left; width:470px}
div#servicesWrap img{float:left; margin:2px 10px 4px 0}
div#servicesWrap p{margin:0 0 12px 0; padding:0; line-height:125%}
div.serviceContent{padding-bottom:10px}

/* TREINAMENTOS JAVA
----------------------------------------*/
div#treinamentosJava{margin:20px 20px 0 20px; width:450px; float:left; min-height:275px}
div#treinamentosJava h1{margin:16px 0 10px 17px}
div#treinamentosJava h2{position:absolute; left:0px; top:-500px; width:1px; height:1px; overflow:hidden}

div#treinamentosJava ul{width:210px; font-size:93%; line-height:220%; float:left; margin:0 0 0 18px; padding:0}
div#treinamentosJava ul li{list-style-type:none; float:left; display:inline; text-align:right}
div#treinamentosJava ul li a{outline:none; display:block; color:#d3e9dd; text-decoration:none; height:28px; width:180px; padding:0 24px 0 0; margin:-1px 0 0 0; background:#172018}
div#treinamentosJava ul li a:hover{background-position:0 -28px}
div#treinamentosJava ul li.current a, div#services ul li.current a:hover{background-position:0 -56px; color:#090c08; background-color:#519570; cursor:default; font-weight:bold}

div#treinamentosJavaWrap{margin:-3px 0 0 14px; float:left; width:420px}
div#treinamentosJavaWrap img{float:left; margin:2px 10px 4px 0}
div#treinamentosJavaWrap p{margin:0 0 12px 0; padding:0; line-height:125%}
div.treinamentosJavaContent{padding-bottom:10px}
div.moreInfo{margin:0 0 12px 0; padding:0; line-height:125%}

/* TREINAMENTO RAILS
----------------------------------------*/
div#treinamentosRails{margin:20px 20px 0 5px; width:440px; float:right; min-height:275px}
div#treinamentosRails h1{margin:16px 0 10px 17px}
div#treinamentosRails h2{position:absolute; left:0px; top:-500px; width:1px; height:1px; overflow:hidden}

div#treinamentosRails ul{width:210px; font-size:93%; line-height:220%; float:right; margin:0 0 0 18px; padding:0}
div#treinamentosRails ul li{list-style-type:none; float:left; display:inline; text-align:right}
div#treinamentosRails ul li a{outline:none; display:block; color:#d3e9dd; text-decoration:none; height:28px; width:180px; padding:0 24px 0 0; margin:-1px 0 0 0; background:#172018}
div#treinamentosRails ul li a:hover{background-position:0 -28px}
div#treinamentosRails ul li.current a, div#services ul li.current a:hover{background-position:0 -56px; color:#090c08; background-color:#519570; cursor:default; font-weight:bold}

div#treinamentosRailsWrap{margin:-3px 0 0 14px; float:right; width:420px}
div#treinamentosRailsWrap img{float:left; margin:2px 10px 4px 0}
div#treinamentosRailsWrap p{margin:0 14px 12px 0; padding:0; line-height:125%}
div.treinamentosRailsContent{padding-bottom:10px}

/* DIFERENCIAS
----------------------------------------*/
div#diferencias{margin:20px 20px 0 5px; width:440px; float:right; min-height:164px}
div#diferencias h1{margin:16px 0 10px 17px}
div#diferencias h2{position:absolute; left:0px; top:-500px; width:1px; height:1px; overflow:hidden}

div#diferencias ul{width:420px; font-size:93%; margin:0 0 0 30px; padding:0}
div#diferencias ul li{list-style-type:square; float:left; text-align:left}

div#diferenciasWrap{margin:-3px 0 0 12px; float:left; width:440px}
div#diferenciasWrap img{float:left; margin:2px 10px 4px 0}
div#diferenciasWrap p{margin:0 14px 12px 0; padding:0; line-height:125%}
div.diferenciasContent{padding-bottom:10px}

/* TREINAMENTOS LEFT
----------------------------------------*/
div#treinamentosLeft{margin:20px 20px 0 20px; width:450px; float:left; min-height:275px}
div#treinamentosLeft h1{margin:16px 0 10px 17px}
div#treinamentosLeft h2{position:absolute; left:0px; top:-500px; width:1px; height:1px; overflow:hidden}

div#treinamentosLeft ul{width:210px; font-size:93%; line-height:220%; float:left; margin:0 0 0 18px; padding:0}
div#treinamentosLeft ul li{list-style-type:none; float:left; display:inline; text-align:right}
div#treinamentosLeft ul li a{outline:none; display:block; color:#d3e9dd; text-decoration:none; height:28px; width:180px; padding:0 24px 0 0; margin:-1px 0 0 0; background:#172018}
div#treinamentosLeft ul li a:hover{background-position:0 -28px}
div#treinamentosLeft ul li.current a, div#services ul li.current a:hover{background-position:0 -56px; color:#090c08; background-color:#519570; cursor:default; font-weight:bold}

div#treinamentosLeftWrap{margin:-3px 0 0 14px; float:left; width:420px}
div#treinamentosLeftWrap img{float:left; margin:2px 10px 4px 0}
div#treinamentosLeftWrap p{margin:0 0 12px 0; padding:0; line-height:125%}
div.treinamentosLeftContent{padding-bottom:10px}

/* TREINAMENTO RIGHT
----------------------------------------*/
div#treinamentosRight{margin:20px 20px 0 5px; width:440px; float:right; min-height:275px}
div#treinamentosRight h1{margin:16px 0 10px 17px}
div#treinamentosRight h2{position:absolute; left:0px; top:-500px; width:1px; height:1px; overflow:hidden}

div#treinamentosRight ul{width:210px; font-size:93%; line-height:220%; float:right; margin:0 0 0 18px; padding:0}
div#treinamentosRight ul li{list-style-type:none; float:left; display:inline; text-align:right}
div#treinamentosRight ul li a{outline:none; display:block; color:#d3e9dd; text-decoration:none; height:28px; width:180px; padding:0 24px 0 0; margin:-1px 0 0 0; background:#172018}
div#treinamentosRight ul li a:hover{background-position:0 -28px}
div#treinamentosRight ul li.current a, div#services ul li.current a:hover{background-position:0 -56px; color:#090c08; background-color:#519570; cursor:default; font-weight:bold}

div#treinamentosRightWrap{margin:-3px 0 0 14px; float:right; width:420px}
div#treinamentosRightWrap img{float:left; margin:2px 10px 4px 0}
div#treinamentosRightWrap p{margin:0 14px 12px 0; padding:0; line-height:125%}
div.treinamentosRightContent{padding-bottom:10px}

/*
---------------------------------------------------------------------------------------
FORMS
---------------------------------------------------------------------------------------
*/
form{padding:0; margin:0}
form fieldset{border:none; padding:0; margin:0}
form legend{display:none}
form div{margin:0}
form legend{margin:0}

form span.required{color:#b6181d; font-size:10px; position:relative; top:-4px; left:.8em; margin:0 0 0 -1em}

div#main form.forms{margin:5px 20px 20px 20px; padding:20px; background:#0a0f0c; border:1px solid #1e2320}
div#main form.forms label{}
div#main form.forms ul{padding:0 0 0 0; margin:0}
div#main form.forms li{clear:both; margin:0; padding:0 0 10px 0; position:relative}

form.forms input.fieldText, form.forms select.fieldText, form.forms textarea.fieldTextarea{color:#fff; font-weight:normal}
form.forms input.fieldText, form.forms select.fieldText, form.forms textarea.fieldTextarea{width:98%; padding:3px; border-color:#828583 #828583 #828583; border-style:solid; border-width:1px; background:#161b18}
textarea:hover, input[type='text']:hover, input[type='password']:hover, select:hover{border-color:#f7f7f7}
textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus{border-color:#fff; outline:1px solid #000}

div#main form.forms div.buttons{padding:0 2px 12px 0; text-align:right}
div#main form.forms div.buttons input{padding:5px 10px; font-weight:bold; cursor:pointer}
div#main form.forms div.buttons div.buttonsLink{font-size:10px; float:left; padding:5px 0 0 0}


/* mail contact
----------------------------------------*/
div#mailContact{margin:20px 0 0 20px; width:580px; float:left; min-height:275px}
div#mailContact p{margin:16px 16px 5px 16px}

/* contact
----------------------------------------*/
div#contact{margin:20px 20px 0px 0px; min-width:300px; float:right; min-height:275px}
div#contact h1{margin:16px 16 5px 16px}
div#contact .vcard {margin:16px 16px 10px 17px}

/* Clearfix */
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.clearfix{display:inline-block}
/* Hide from IE Mac \*/
.clearfix{display:block}
/* End hide from IE Mac */

a.btnLink{color:#22230c !important; text-decoration:none; font-weight:bold; font-size:100%; display:inline-block; height:18px; padding:4px 35px 4px 10px; border-width:1px; border-style:solid; border-color:#acae55 #747529 #747529 #acae55; background:#d2d465 url("../images/btnLink.png") 100% 0 no-repeat}
a.btnLink:hover{background:#e7eb55 url("../images/btnLink.png") 100% -26px no-repeat}

.notice {
	background: #FFF6BF;
	border: 2px solid #FFF;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
	color: #030f09;
	font-weight:bold;
}