<div id="main">
	<div id="aboutUs" class="box">
	  <h1>QUEM SOMOS?</h1>
	  <p align="justify">A <strong>INSIDE CODE</strong> &eacute; uma empresa especializada em treinamentos, consultoria e desenvolvimento de aplica&ccedil;&otilde;es usando plataformas e tecnologias Open Source como <a href="http://java.sun.com" title="Java Web Site" target="_blank">Java</a> e <a href="http://www.rubyonrails.org" title="Ruby on Rails Web Site" target="_blank">Ruby on Rails</a>. N&oacute;s conhecemos essas tecnologias e sabemos como fazer elas trabalharem por voc&ecirc;.</p>
	  <p><a href="<%= contato_path %>" title="Contate-nos">Contate-nos</a> hoje.</p>

	</div>
	
	<div id="services" class="box">
	  
		<h1>O QUE FAZEMOS?</h1>

		<div id="servicesWrap">

			<div class="serviceContent" id="service1" style="display:block;">
				<h3>Desenvolvimento de Aplica&ccedil;&otilde;es</h3>
				<img src="./images/development.png" alt='Desenvolvimento de Aplica&ccedil;&otilde;es' /><p align="justify">Voc&ecirc; tem uma grande de id&eacute;ia mas precisa de ajuda para implement&aacute;-la? Isso &eacute; o que fazemos. N&oacute;s sentamos com voc&ecirc; e determinamos cuidadosamente como voc&ecirc; deseja que sua aplica&ccedil;&atilde;o pare&ccedil;a e funcione, focando na perpectiva das pessoas que a usar&atilde;o. Desenvolvemos sua aplica&ccedil;&atilde;o de uma maneira &aacute;gil, entregando funcionalidades em curtas intera&ccedil;&otilde;es, desta forma voc&ecirc; pode acompanhar o desenvolvimento e fazer munda&ccedil;as durante o processo de desenvolvimento.</p>
			</div>
		
			<div class="serviceContent" id="service7" style="display:block;">
				<h3>Treinamentos</h3>
				<img src="./images/trainning.png"  alt='Treinamentos'/><p align="justify">Precisando de treinamento ou treinar sua equipe? N&oacute;s oferecemos treinamentos para profissionais de TI nas tecnologias Open Source mais utilizadas. S&atilde;o oferecidos cursos regulares, turmas fechadas para empresas, treinamentos VIP e tamb&eacute;m treinamento in-company.</p>
			</div>
			
			<div class="serviceContent" id="service7" style="display:block;">
				<h3>Consultoria</h3>
				<img src="./images/adviser.png"  alt='Consultoria'/><p align="justify">Nosso trabalho envolve um avalia&ccedil;&atilde;o e an&aacute;lise da sua empresa e projeto para tentar mostrar todos os seus problemas. Fazemos atua&ccedil;&atilde;o forte e incisiva para corre&ccedil;&atilde;o dos problemas levantados, vivendo-os junto com voc&ecirc;. Tamb&eacute;m fazemos o acompanhamento de equipe e desenvolvimento do projeto.</p>
			</div>
		</div>
	</div>
</div>
<div class="clear">&nbsp;</div>